/*font-size responsive */
footer html {
  font-size: 0.9rem;
}

footer h1 {
  font-size: 1.3rem;
}

footer h2 {
  font-size: 1.2rem;
}

footer h6 {
  font-size: 0.8rem;
}

footer h6 {
  font-size: 0.4rem;
}

footer p {
  font-size: 0.6rem;
}

footer a {
  font-size: 0.7rem;
}

footer span {
  font-size: 0.7rem;
}

@media (max-width: 468px) {
  footer html {
    font-size: 0.6rem;
  }
  footer h1 {
    font-size: 1.2rem;
  }
  footer h2 {
    font-size: 1rem;
  }
  footer p {
    font-size: 0.6rem;
  }
  footer a {
    font-size: 0.6rem;
  }
}

@media (min-width: 991px) {
  footer html {
    font-size: 0.9rem;
  }
  footer h1 {
    font-size: 1.5rem;
  }
  footer h2 {
    font-size: 1.4rem;
  }
  footer p {
    font-size: 0.9rem;
  }
  footer a {
    font-size: 0.7rem;
  }
}

@media (min-width: 1200px) {
  footer html {
    font-size: 1rem;
  }
  footer h1 {
    font-size: 1.7rem;
  }
  footer h2 {
    font-size: 1.6rem;
  }
  footer p {
    font-size: 1rem;
  }
}

.text-maincolor {
  color: #FF0036;
}

.bg-maincolor {
  background-color: #FF0036;
}

header {
  font-family: 'Roboto', sans-serif !important;
}

header nav li {
  font-weight: 500;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

header nav li a {
  color: #FF0036 !important;
}

header nav form {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

header nav input {
  border: none !important;
  background-color: transparent !important;
}

header nav input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

header nav input::-webkit-input-placeholder {
  color: white !important;
}

header nav input:-ms-input-placeholder {
  color: white !important;
}

header nav input::-ms-input-placeholder {
  color: white !important;
}

header nav input::placeholder {
  color: white !important;
}

header nav button {
  background-color: transparent !important;
  color: white !important;
}

header nav button:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

header jumbo-content {
  position: relative;
}

@media (min-width: 1200px) {
  header nav {
    position: absolute !important;
    width: 100%;
    z-index: 1;
    background-color: transparent;
  }
  header nav .navbar-brand {
    font-size: 4rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  header nav li {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    margin: auto;
    white-space: nowrap;
  }
  header nav li:hover {
    background-color: #FF0036;
  }
  header nav li a {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
  header nav li a:hover {
    color: white !important;
  }
}

.red-band {
  background-color: #FF0036;
  height: 3rem;
}

.soc-buttons {
  position: fixed;
  bottom: 15vh;
  left: -130px;
}

.soc-buttons a {
  color: unset;
  text-decoration: none;
}

.soc-button {
  border-radius: 0px 25px 25px 0;
  height: 45px;
  width: 175px;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.soc-button p {
  margin-left: 10px;
  line-height: 3em;
  font-weight: bold;
  color: white;
  width: 120px;
  text-align: center;
}

.soc-button:hover {
  -webkit-transform: translateX(130px);
          transform: translateX(130px);
}

.soc-circle {
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  height: 2em;
  width: 2em;
  text-align: center;
  position: absolute;
  right: 7px;
  top: 6px;
}

.tweet {
  background-color: #0EA4FC;
}

.face {
  background-color: #3E5F94;
}

.dribl {
  background-color: #F04888;
}

.gplus {
  background-color: #DD4831;
}

#movies {
  margin-top: 1em;
}

#movies-target,
#feat-movies-target,
#feat-series-target {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#movies-target {
  padding: 1em;
  border: 2px solid #f5f5f5;
}

.movie-entry {
  max-width: 200px;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.movie-entry:hover {
  background-color: rgba(0, 0, 0, 0.253);
}

.movie-poster {
  width: 100%;
}

.movie-title {
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.movie-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.movie-year-genre {
  font-size: 12px;
  margin-bottom: 0;
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail-img {
  width: 100%;
  margin-bottom: 1em;
}

.detail-video-container {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.detail-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer {
  background-color: black;
  color: gray;
}

.test a {
  text-decoration: none;
  color: gray;
}

.else {
  background-color: grey;
  color: whitesmoke;
}

#btnscroll {
  border: 0.1em solid red;
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color: black;
  /* padding-bottom: 6%; */
  color: white;
  font-size: 2.5em;
  margin-bottom: 0.2em;
  position: fixed;
  bottom: 0;
  display: none;
  margin-left: 90%;
  text-decoration: none !important;
  line-height: 1;
}

.cine {
  font-size: 0.8rem;
}
/*# sourceMappingURL=style.css.map */